<!DOCTYPE html>
<html lang="en" ng-app="rickMorty">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <script src="lib/angularjs/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/RickMortyController.js"></script>
    <script src="js/service/RickMortyApiService.js"></script>
    <title>Rick And Morty</title>
</head>

<body ng-controller="rickMortyController">
    <div class="container">
        <section>
            <h1>Rick and Morty - API</h1>

            <div class="input-search">
                <input type="search" placeholder="Ex.: Rick Sanchez" ng-model="search">
            </div>
        </section>

        <section>
            <div class="card">
                <ul ng-repeat="char in chars | filter: { name: search }">
                    <li>{{ char.name }}</li>
                    <li><img src="{{ char.image }}"></li>
                    <li>Espécie: {{ char.species }}</li>
                    <li ng-show="char.type">Tipo: {{ char.type }}</li>
                    <li>Localização: {{ char.location.name }}</li>
                </ul>
            </div>
            <button>Load More</button>
        </section>
    </div>
</body>

</html>